# Python Files
__pycache__/
*.py[cod]
*$py.class
.python-version
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
profile_default/
ipython_config.py
.pyre/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Flask stuff
instance/
.webassets-cache

# Media Files
*.log
*.webm
*.mp3
*.mov
*.wmv
*.avi
*.flv
*.mkv
*.f4v
*.avchd
