<!doctype html>
<html>

<head>
    <title>Oxygen</title>

    <!-- META tags -->
    <!-- -------------------------------------------------------------------------------------------------------- -->
    <meta charset="utf-8">
    <meta name="description" content="Download media from almost any website at one place!">
    <meta name="keywords" content="download, youtube, media, media downloader, video downloader">
    <meta name="author" content="Hirusha Adikari">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- CSS Import from flask -->
    <!-- -------------------------------------------------------------------------------------------------------- -->
    <link href="{{ url_for('static', filename='css/lib/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/oxygen.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

    <!-- JS Import from flask -->
    <!-- -------------------------------------------------------------------------------------------------------- -->
    <script src="{{ url_for('static', filename='js/lib/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/util.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/collapse.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/dropdown.min.js') }}"></script>

    <!-- JS Import from CDNs -->
    <!-- -------------------------------------------------------------------------------------------------------- -->
    <!-- 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.4/cjs/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fuelux/2.6.1/util.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/collapse.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/dropdown.min.js"></script>
    -->

    {% block header %}{% endblock %}

    <script>
        $(document).ready(function () {
            $('#navigationMenu .dropdown-toggle').dropdown({ popperConfig: { placement: 'bottom-start', modifiers: { computeStyle: { gpuAcceleration: false } } } });
            $(document).on('click', '.navigationMenu-navbar-collapse.show', function (e) {
                if ($(e.target).is('a') && ($(e.target).attr('class') != 'dropdown-toggle')) {
                    $(this).collapse('hide');
                }
            });

            $('#ThemeableMenu1 .dropdown-toggle').dropdown({ popperConfig: { placement: 'bottom-start', modifiers: { computeStyle: { gpuAcceleration: false } } } });
            $(document).on('click', '.ThemeableMenu1-navbar-collapse.show', function (e) {
                if ($(e.target).is('a') && ($(e.target).attr('class') != 'dropdown-toggle')) {
                    $(this).collapse('hide');
                }
            });

        });
    </script>
</head>

<body>
    <!-- Header -->
    <!-- -------------------------------------------------------------------------------------------------------- -->
    <div id="wb_navigation">
        <div id="navigation">
            <div class="row">
                <div class="col-1">
                    <div id="wb_navigationHeading" style="display:inline-block;width:100%;z-index:0;">
                        <h1 id="navigationHeading">Oxygen</h1>
                    </div>
                </div>
                <div class="col-2">
                    <div id="wb_ThemeableMenu1" style="display:inline-block;width:100%;text-align:right;z-index:1;">
                        <div id="ThemeableMenu1" class="ThemeableMenu1" style="width:100%;height:auto !important;">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".ThemeableMenu1-navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="ThemeableMenu1-navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item">
                                            <a href="#news" class="nav-link"><i class="fa fa-plus-square"></i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#about" class="nav-link"><i class="fa fa-paste"></i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#team" class="nav-link"><i class="fa fa-paperclip"></i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link"><i class="fa fa-refresh"></i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link"><i class="fa fa-download"></i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link"><i class="fa fa-window-close"></i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link"><i class="fa fa-trash"></i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link"><i class="fa fa-gear"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="wb_navigationMenu" style="display:inline-block;width:100%;z-index:2;">
                        <div id="navigationMenu" class="navigationMenu" style="width:100%;height:auto !important;">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navigationMenu-navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navigationMenu-navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">File<b
                                                    class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="" class="nav-link">Add New Videos</a></li>
                                                <li class="nav-item"><a href="" class="nav-link">Paste Video Link</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="nav-item"><a href="" class="nav-link">Import Video Links</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">Export Video Links</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Videos<b
                                                    class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="" class="nav-link">Reload All Videos</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">Download All Videos</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">Cancel All
                                                        Downloads</a></li>
                                                <li class="divider"></li>
                                                <li class="nav-item"><a href="" class="nav-link">Remove Unavailable</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">Remove Finished</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">Clear Download List</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Automate<b
                                                    class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="" class="nav-link">Auto Import URLs from
                                                        Clipboard</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">Configure</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<b
                                                    class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="" class="nav-link">Change Download
                                                        Folder</a></li>
                                                <li class="nav-item"><a href="" class="nav-link">Show Output Window</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">Settings</a></li>
                                                <li class="divider"></li>
                                                <li class="nav-item"><a href="" class="nav-link">Check for Updates</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link">About</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Actual Body Content goes inside this -->
    <!-- -------------------------------------------------------------------------------------------------------- -->
    {% block content %}{% endblock %}


    <!-- Footer -->
    <!-- -------------------------------------------------------------------------------------------------------- -->
    <div id="wb_LayoutGrid9">
        <div id="LayoutGrid9">
            <div class="row">
                <div class="col-1">
                    <div id="wb_LayoutGrid10">
                        <div id="LayoutGrid10">
                            <div class="row">
                                <div class="col-1">
                                    <label for="Editbox1" id="Label1"
                                        style="display:block;width:100%;line-height:16px;z-index:4;">Media URL</label>
                                </div>
                                <div class="col-2">
                                    <input type="text" id="Editbox1"
                                        style="display:block;width: 100%;height:26px;z-index:5;" name="Editbox1"
                                        value="" spellcheck="false">
                                </div>
                                <div class="col-3">
                                    <input type="submit" id="Button1" name="" value="Add URL"
                                        style="display:block;width: 100%;;height:26px;z-index:6;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <label for="" id="Label2" style="display:block;width:100%;line-height:16px;z-index:8;">
                        Made by @hirusha-adi
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>


</html>